{#
Allows to list all users. It allows to add/edit/delete user.
Required :
- users : list of all users available (as array).
#}

{% extends "admin.html.twig" %}

{% block body %}

    {% embed 'back/form/_grid.html.twig' with {'result': users, 'title': 'back.user.list.title'|trans} %}

        {% block action %}
            <a class="button is-primary" href="{{ path('bo_user_add') }}">{{ 'global.new'|trans }}</a>
        {% endblock %}

        {% block grid_header %}
            <th>{{ 'back.user.list.column.name'|trans }}</th>
            <th>{{ 'global.edit'|trans }}</th>
            <th>{{ 'global.delete'|trans }}</th>
        {% endblock %}

        {% block grid_body %}
            {% for user in users %}
                <tr>
                    <td>
                        {{ user.displayName }}
                    </td>
                    <td>
                        <a href="{{ path('bo_user_edit', { 'user': user.id }) }}">
                            <span class="icon has-text-warning button">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('bo_user_delete', { 'user': user.id }) }}" onclick="return confirm('{{ 'global.delete.confirm'|trans }}');" >
                            <span class="icon has-text-danger button">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

    {% endembed %}

{% endblock %}
