{#
Required :
- Book[] books : list of all books available.
#}

{% extends "base.html.twig" %}

{% block body %}

    <div id="book-glider-wrapper">

        <div class="arrow glider-prev button-icon">
            <span class="icon"><i class="fas fa-arrow-alt-circle-left"></i></span>
        </div>
        <div class="arrow glider-next button-icon">
            <span class="icon"><i class="fas fa-arrow-alt-circle-right"></i></span>
        </div>

        <div id="book-glider">
            {% for book in books %}
                <div>
                    <div class="picture-wrapper">
                        <img src="{{ vich_uploader_asset(book, 'pictureFile') }}" alt="{{ book.name }}" />
                        <span>{{ book.name }}</span>
                    </div>
                    <a href="{{ path('fo_book', { 'slug': book.slug }) }}" class="button-icon">
                        <span class="icon"><i class="fas fa-eye"></i></span>
                    </a>
                </div>
            {% endfor %}
        </div>

    </div>

    <div id="book-glider-mobile">
        {% for book in books %}
            <div class="book-item">
                <img src="{{ vich_uploader_asset(book, 'pictureFile') }}" alt="{{ book.name }}" />
                <span>{{ book.name }}</span>
            </div>
        {% endfor %}
    </div>

{% endblock %}
