{#
Allows to list all videos. It allows to add/edit/delete video.
Required :
- videos : list of all videos available (as array).
#}

{% extends "admin.html.twig" %}

{% block body %}

    {% embed 'back/form/_grid.html.twig' with {'result': videos, 'title': 'back.video.list.title'|trans} %}

        {% block action %}
            <a class="button is-primary" href="{{ path('bo_video_add') }}">{{ 'global.new'|trans }}</a>
        {% endblock %}

        {% block grid_header %}
            <th>{{ 'back.video.list.column.title'|trans }}</th>
            <th>{{ 'global.edit'|trans }}</th>
            <th>{{ 'global.delete'|trans }}</th>
        {% endblock %}

        {% block grid_body %}
            {% for video in videos %}
                <tr>
                    <td>
                        {{ video.title }}
                    </td>
                    <td>
                        <a href="{{ path('bo_video_edit', { 'video': video.id }) }}">
                            <span class="icon has-text-warning button">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('bo_video_delete', { 'video': video.id }) }}" onclick="return confirm('{{ 'global.delete.confirm'|trans }}');" >
                            <span class="icon has-text-danger button">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

    {% endembed %}

{% endblock %}
